<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <!-- CONTAINER -->
  <div class="container my-5 animate__animated animate__fadeIn">

    <!-- TITOLO -->
    <h1 class="text-center">PRIVACY</h1>
    <hr>

    <h4>PRIVACY POLICY E COOKIE</h4>
    <p>
      CHI SIAMO. Il titolare del trattamento dati è la Società con denominazione Rosso Argilla S.R.L. sita in Via L. Fullone 70, 74015 Martina Franca (TA) Italia.
    </p>

    <h4>PER QUALI FINALITÀ USIAMO I TUOI DATI</h4>
    <p>
      Utilizzeremo i tuoi dati (ottenuti online o di persona) tra l'altro per gestire la tua registrazione quale utente, l'acquisto di servizi e per rispondere alle tue domande.
    </p>

    <h4>PERCHÉ UTILIZZIAMO I TUOI DATI</h4>
    <p>
      La base giuridica del trattamento dei tuoi dati personali in alcuni casi risiede nell'adempimento di obblighi di legge o di contratto. Abbiamo bisogno di trattare i tuoi dati personali per la corretta esecuzione del contratto che viene finalizzato con te quando ti registri come nostro utente, quando utilizzi un nostro servizio o una nostra funzionalità.
    </p>

    <h4>I TUOI DIRITTI</h4>
    <p>
      Ti spetta il diritto di accedere, di rettificare e di eliminare i tuoi dati personali e di presentare un reclamo all'Autorità Garante per la protezione dei dati personali in qualsiasi momento. Ti spettano anche altri diritti, quali ad esempio il diritto di opposizione all'utilizzo dei tuoi dati da parte nostra o il diritto di portabilità, come spiegheremo nei dettagli più avanti.
    </p>

    <h4>MODIFICHE ALL'INFORMATIVA SULLA PRIVACY E SUI COOKIE</h4>
    <p>
      Quando ritenuto opportuno potremo modificare le informazioni contenute in questa informativa sulla privacy e sui cookie. In tal caso te ne daremo comunicazione in vari modi attraverso la Piattaforma (ad esempio con un banner, un pop-up o una notifica push) oppure mediante inoltro di una mail se la modifica incide significativamente sulla tua privacy.
    </p>

    <h4>INFORMAZIONI SUI COOKIE</h4>
    <p>
      Utilizziamo cookie e dispositivi analoghi per agevolare la tua navigazione sulla Piattaforma, per analizzare la tua modalità di interazione con noi e in determinati casi per inviarti annunci pubblicitari in funzione delle tue abitudini di navigazione.
    </p>

    <h4>CHE COS'È UN COOKIE?</h4>
    <p>
      Un Cookie è una stringa di testo di dimensioni ridotte che un sito Internet conserva in un PC, telefono o qualsiasi altro dispositivo contenente informazioni inerenti alla navigazione dell’utente su tale sito. I Cookie sono necessari per facilitare la navigazione e renderla più semplice e non danneggiano il computer.
    </p>

    <h4>PER QUALE MOTIVO SI UTILIZZANO I COOKIE IN QUESTO SITO INTERNET?</h4>
    <p>
      I Cookie sono una parte essenziale del funzionamento del nostro sito Internet. Lo scopo principale dei nostri Cookie è migliorare l’esperienza di navigazione dell’utente. Ad esempio, essi sono utilizzati per ricordare all’utente le proprie preferenze (lingua, paese, ecc.) durante la navigazione e le visite future. Le informazioni raccolte dai Cookie ci permettono inoltre di migliorare il sito tramite le stime sui numeri e sui modelli di consumo, di adattare il sito agli interessi individuali degli utenti, di accelerare le ricerche, ecc.
    </p>

    <h4>PER QUALE MOTIVO NON SI UTILIZZANO I COOKIE IN QUESTO SITO INTERNET?</h4>
    <p>
      Nei Cookie che utilizziamo non conserviamo dati personali sensibili come indirizzo, password, dati relativi a carte di credito/debito, ecc.
    </p>

    <h4>CHI UTILIZZA LE INFORMAZIONI MEMORIZZATE NEI COOKIE?</h4>
    <p>
      Le informazioni memorizzate nei Cookie dal nostro sito Internet sono utilizzate esclusivamente da noi, eccetto quelli identificati come “Cookie di terze parti” utilizzati e gestiti da entità esterne per fornire servizi da noi richiesti per migliorare i nostri servizi e l’esperienza di navigazione dell’utente sul nostro sito. I servizi principali per cui questi “Cookie di terze parti” sono utilizzati sono le statistiche sugli accessi e la garanzia sulle transazioni di pagamento.
    </p>

    <h4>COME POSSO EVITARE L'UTILIZZO DEI COOKIE SU QUESTO SITO INTERNET?</h4>
    <p>
      Se si preferisce evitare l’utilizzo dei Cookie su questa pagina, considerando le limitazioni sopra descritte, è necessario innanzitutto disabilitare l’utilizzo dei Cookie nel proprio browser e cancellare i Cookie salvati nel browser associato a questo sito Internet. È possibile utilizzare quest’opzione per prevenire l’utilizzo dei Cookie in qualsiasi momento.
    </p>

    <h4>COME POSSO DISABILITARE E PREVENIRE L'UTILIZZO DEI COOKIE?</h4>
    <p>
      È possibile limitare, bloccare o cancellare i Cookie da questo sito Internet in qualsiasi momento modificando la configurazione del proprio browser seguendo la procedura indicata di seguito. Mentre le impostazioni sono diverse in ogni browser, i Cookie sono normalmente configurati nel menu "Preferenze" o "Strumenti". Per maggiori informazioni sulla configurazione dei Cookie nel proprio browser, consultare il menu "Aiuto" nel browser stesso.
    </p>

    <h4>QUALI PARTICOLARI COOKIE UTILIZZA QUESTO SITO E CON QUALI FINALITÀ?</h4>
    <p>
      Il seguente grafico mostra i Cookie, i tag e gli altri strumenti simili utilizzati da questo sito insieme a informazioni sullo scopo, sulla durata e sulla gestione (privata o da parte di terzi) di ognuno di essi.
    </p>

    <h4>COOKIE TECNICI E DI PERSONALIZZAZIONE</h4>
    <p>
      <strong>Identificazione dell'utente:</strong> Sono utilizzati per identificare e autenticare l’utente. Contengono inoltre i dati tecnici dalla sessione dell’utente come ad esempio tempo di attesa per la connessione, identificativo di sessione, ecc.<br>
      <strong>Durata:</strong> Sessione<br>
      <strong>Gestione:</strong> Cookie propri
    </p>
    <p>
      <strong>Identificazione della sessione:</strong> Sono utilizzati per identificare la sessione http dell’utente. Sono comuni in tutte le applicazioni Internet per identificare le richieste dell’utente durante una sessione.<br>
      <strong>Durata:</strong> Sessione<br>
      <strong>Gestione:</strong> Cookie propri
    </p>
    <p>
      <strong>Stato della navigazione:</strong> Consentono l’identificazione dello stato di navigazione dell’utente (inizio sessione, prima pagina, primo accesso, scorrimento, voto, ecc.).<br>
      <strong>Durata:</strong> Sessione<br>
      <strong>Gestione:</strong> Cookie propri
    </p>
    <p>
      <strong>Selezioni dell'utente:</strong> Memorizzano i valori della sessione scelti dall’utente come negozio, lingua, valuta, prodotti, taglia, ecc.<br>
      <strong>Durata:</strong> Sessione<br>
      <strong>Gestione:</strong> Cookie propri
    </p>
    <p>
      <strong>Preferiti e ultime selezioni:</strong> Consentono le selezioni dei preferiti utente da memorizzare (negozi, ad esempio) e le ultime selezioni utente (negozi, prodotti, consenso all’installazione dei Cookie, ecc.) nelle sessioni Internet successive.<br>
      <strong>Durata:</strong> Costante<br>
      <strong>Gestione:</strong> Cookie propri
    </p>
    <p>
      <strong>Carrello degli acquisti:</strong> Memorizzano informazioni relative al carrello, come i dettagli di identificazione dell’utente a esso associati.<br>
      <strong>Durata:</strong> Sessione<br>
      <strong>Gestione:</strong> Cookie propri
    </p>
    <p>
      <strong>Protocollo:</strong> Consentono l’elaborazione delle modifiche tra domini (protocollo) sicuri (https) e non sicuri (http).<br>
      <strong>Durata:</strong> Sessione<br>
      <strong>Gestione:</strong> Cookie propri
    </p>

    <h4>COOKIE DI ANALISI DELLA NAVIGAZIONE</h4>
    <p>
      <strong>Provenienza (WC_GASource):</strong> Sono utilizzati per determinare la provenienza di un utente quando arriva su una pagina in questo sito Internet, ad esempio se arriva a una pagina di dettagli del prodotto da una griglia di prodotti, da un motore di ricerca o da un sito Internet esterno.<br>
      <strong>Durata:</strong> Costante<br>
      <strong>Gestione:</strong> Cookie propri
    </p>
    <p>
      <strong>Google Analytics:</strong> Consentono il monitoraggio del sito Internet tramite lo strumento Google Analytics, un servizio fornito da Google per ottenere informazioni sull’accesso utente sul sito. Alcuni dei dati salvati sono: numero di volte che un utente visita il sito Internet, data della prima e dell’ultima visita, durata delle visite, pagina da cui l’utente ha effettuato l’accesso al sito Internet, motore di ricerca utilizzato dall’utente per accedere al sito Internet o collegamento su cui ha fatto clic, luogo da cui l’utente ha effettuato l’accesso, ecc. La configurazione di questi Cookie è predeterminata dal servizio offerto da Google e le informazioni generate sull’utilizzo del sito Internet saranno trasmesse a e memorizzate da Google Inc (una società con sede negli Stati Uniti). Per tanto consigliamo di consultare la pagina di Google Analytics dedicata alla privacy per maggiori informazioni sui Cookie utilizzati e su come disabilitarli.<br>
      <strong>Durata:</strong> Costante<br>
      <strong>Gestione:</strong> Terzi
    </p>
    <p>
      <strong>Optimizely:</strong> I Cookie identificati con il dominio optimizely.com o www.optimizely.com ci consentono di ottimizzare l’aspetto, le sensazioni, i messaggi; in generale, lo scopo è garantire all’utente un’esperienza di navigazione costante sul nostro sito Internet basandoci su come l’utente lo utilizza. Alcuni dei dati salvati per la successiva analisi sono: numero di aggiornamenti visualizzati dall’utente, informazioni per i segmenti relativi ai visitatori come browser, campagna, tipo di fonti mobili e tutti i segmenti personalizzati definiti, ecc. La configurazione di questi Cookie è predeterminata dal servizio offerto dal nostro provider Optimizely Inc. (una società con sede negli Stati Uniti).<br>
      <strong>Durata:</strong> Costante<br>
      <strong>Gestione:</strong> Terzi
    </p>

    <h4>COOKIE DI ANALISI DEGLI ACQUISTI</h4>
    <p>
      Questi Cookie consentono di raccogliere informazioni sul dispositivo da cui si è effettuato l’acquisto su questo sito Internet e di verificare che le transazioni forniscano garanzie sufficienti ai clienti. Questi Cookie non includono mai dati sensibili come i dettagli delle carte di credito.
    </p>
    <p>
      <strong>Dispositivo di acquisto (thx_guid):</strong> Consentono l’identificazione del dispositivo (PC, telefono, ecc.) da cui si sono effettuati gli acquisti su questo sito per la loro successiva analisi con lo scopo di poter offrire ai clienti garanzie sufficienti nelle operazioni di acquisto. Le informazioni raccolte in questi Cookie sono raccolte da una società esterna (Cybersource) per la conduzione dell’analisi.<br>
      <strong>Durata:</strong> Costante<br>
      <strong>Gestione:</strong> Terzi
    </p>
    <p>
      <strong>Esecuzione (DTU):</strong> Il Dynamic Tracking System è utilizzato per la valutazione della prestazione di diversi canali pubblicitari di questo sito Internet. Durante le visite alla nostra pagina Internet, i dati relativi al browser del visitatore sono raccolti per la valutazione statistica. Questi dati sono raccolti tramite un pixel che è normalmente incluso in ogni pagina del sito Internet. Sono raccolti i seguenti dati: URL della pagina e del sito, tipo di browser e versione (Utente-Agente), impostazioni specifiche del browser (ad esempio impostazione lingua del browser), sistema operativo, risoluzione dello schermo, utilizzo di JavaScript, utilizzo di Cookie, intensità colore, indirizzo IP anonimo, ora della richiesta, dati specifici del prodotto fornito dal negozio, valori ordine (ove necessario).<br>
      <strong>Durata:</strong> Costante<br>
      <strong>Gestione:</strong> Terzi
    </p>

    <h4>QUALI SONO I TUOI DIRITTI SUI DATI CHE CI FORNISCI?</h4>
    <p>
      Ci impegniamo mantenere i tuoi dati personali confidenziali e a garantirti l'esercizio dei tuoi diritti. In qualità di titolari del trattamento abbiamo convenuto che potrai esercitarli senza addebito alcuno inviandoci una mail a un indirizzo di posta unico, segnalando semplicemente il motivo della tua richiesta e il diritto che intendi esercitare. Se ritenuto necessario ai fini della tua identificazione, potremo chiederti di fornirci copia di un documento attestante la tua identità. In particolare, a prescindere dalla finalità o dalla base legale in virtù della quale trattiamo i tuoi dati, hai i seguenti diritti:
    </p>
    <ul>
      <li>Chiederci l'accesso ai tuoi dati in nostro possesso. Tieni presente che gli utenti registrati sulla Piattaforma possono consultare queste informazioni anche nell'apposita sezione relativa ai dati personali.</li>
      <li>Chiederci di correggere i dati in nostro possesso. Tieni presente che se ti sei registrato sulla Piattaforma quale utente potrai accedere anche all'apposita sezione dei dati personali del tuo account per relativa modifica o aggiornamento. In ogni caso tieni conto del fatto che nel fornirci attivamente i tuoi dati personali tramite qualsiasi mezzo ne garantisci la veridicità e l'esattezza e ti impegni a notificarci eventuali modifiche. Qualsiasi perdita o danno cagionato alla Piattaforma o al responsabile della Piattaforma o a un terzo a causa di informazioni erronee, inesatte o incomplete riportate nei moduli di registrazione sarà responsabilità esclusiva dell'utente. In genere sei tenuto a fornirci soltanto i tuoi dati personali, non i dati di terzi fatto salvo quanto previsto dall'informativa sulla privacy e sui cookie.</li>
      <li>Chiederci di cancellare i tuoi dati nella misura in cui non fossero più necessari per permetterci il raggiungimento delle finalità per cui sono stati raccolti come sopra indicato o qualora non fossimo più autorizzati al trattamento.</li>
      <li>Chiederci di interrompere o limitare il trattamento dei tuoi dati, il che presuppone che in determinati casi tu possa richiedere l'interruzione temporanea del trattamento o all'occorrenza di provvedere alla loro conservazione oltre il tempo necessario in caso tu ne abbia bisogno.</li>
      <li>Se ci hai fornito il consenso al trattamento dei tuoi dati per qualsiasi finalità potrai anche revocarlo in qualsiasi momento. La sezione 2 in cui sono illustrate le finalità di trattamento dei tuoi dati personali riporta anche alcune modalità di revoca del consenso.</li>
      <li>Se siamo autorizzati al trattamento dei tuoi dati sulla base del tuo consenso o dell'esecuzione del contratto come illustrato nella sezione 3, potrai anche richiedere la portabilità dei tuoi dati personali. Ciò significa che potrai ricevere i dati personali che ci hai fornito in un formato strutturato di uso comune e leggibile da un computer per poterli trasmettere direttamente a un'altra società purché tecnicamente possibile.</li>
      <li>Inoltre, quando il trattamento dei tuoi dati si basa sul nostro interesse legittimo, potrai anche opporti al trattamento.</li>
      <li>Infine ti informiamo che hai il diritto di inoltrare reclami all'autorità competente di controllo in materia di protezione dei dati presso il garante per la protezione dei dati personali (<a href="https://www.garanteprivacy.it">https://www.garanteprivacy.it</a>).</li>
    </ul>

    <h4>MODIFICHE ALL'INFORMATIVA SULLA PRIVACY E SUI COOKIE</h4>
    <p>
      Quando ritenuto opportuno potremo modificare le informazioni contenute in questa informativa sulla privacy e sui cookie. In tal caso te ne daremo comunicazione in vari modi attraverso la Piattaforma (ad esempio con un banner, un pop-up o una notifica push) oppure mediante inoltro di una mail se la modifica incide significativamente sulla tua privacy, in modo tale che tu possa prendere visione dei cambiamenti, fare le tue valutazioni e se del caso opporti o disdire eventuali servizi o funzioni. In ogni caso ti esortiamo a prendere visione ogni tanto di questa informativa sulla privacy e sui cookie per verificare eventuali modifiche minori o miglioramenti interattivi dato che tale informativa è sempre disponibile sul nostro sito Web e nella nostra App.
    </p>

    <h4>INFORMAZIONI SUI COOKIE</h4>
    <p>
      Utilizziamo cookie e dispositivi analoghi per agevolare la tua navigazione sulla Piattaforma, per analizzare la tua modalità di interazione con noi e in determinati casi per inviarti annunci pubblicitari in funzione delle tue abitudini di navigazione. Ti invitiamo a leggere con attenzione la nostra informativa sui cookie per ulteriori informazioni sui cookies e su dispositivi analoghi che utilizziamo, sulle rispettive finalità e altre informazioni rilevanti.
    </p>

  </div>


</ion-content>
