/* Aggiungi questi stili al tuo file CSS globale o a uno specifico del componente */
.global-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  box-shadow: yellow;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.73);
}

.spinner {
  border: 4px solid rgb(222, 255, 6);
  border-left: 4px solid #000000;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
/* styles.scss o il tuo file di stili preferito */

ion-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0; /* Regola questo valore in base alle tue esigenze */
}


