<div class="example-content">


  <ion-card color="primary" class="ion-padding-top" style="height: 100px; width: 350px">
    <ion-row class="ion-justify-content-center p-2">
      <ion-icon name="cart" size="large"></ion-icon>
    </ion-row>
    <h2 routerLink="/home/tab2" class="text-white ion-text-center">Consegna Ad Addò</h2>
  </ion-card>


  <ion-card color="dark" class="ion-padding-top" style="height: 100px; width: 350px">
    <ion-row class="ion-justify-content-center ">
      <ion-icon name="grid" size="large"></ion-icon>
    </ion-row>
    <h2 routerLink="/home/tab3" class="text-white ion-text-center">Storico Consegne</h2>

  </ion-card>



</div>
